In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

# Bước 1: đọc dữ liệu social network ads

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

# Bước 2: Chia ra làm 2 phần train : test với KFold Cross Validation K =5

In [3]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, 2].values

In [4]:
kf = KFold(n_splits = 5, random_state= None)

# Bước 3: Dùng Standard Scaler

In [5]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X)

# Bước 4: Áp dụng lần lượt một trong các classifier sau: Logistic Regression, SVM, Naive Bayes, Decision Tree, Random Forest. Tính accuracy

In [6]:
# Logistic Regression

model = LogisticRegression(random_state = 0)
model.fit(X, Y)

# Accuracy
lr_acc = cross_val_score(model, X, Y, cv = kf)
print("CV SVM mean accuracy = ", lr_acc.mean())

CV SVM mean accuracy =  0.4725

In [7]:
# SVM 

clf_SVM = svm.SVC()
clf_SVM.fit(X, Y)

# Accuracy
svm_acc = cross_val_score(clf_SVM, X, Y, cv = kf)
print("CV SVM mean accuracy = ", svm_acc.mean())

CV SVM mean accuracy =  0.7725

In [8]:
# Naive Bayes

naiBa = GaussianNB()
naiBa.fit(X, Y)

# Accuracy
svm_acc = cross_val_score(clf_SVM, X, Y, cv = kf)
print("CV SVM mean accuracy = ", svm_acc.mean())

CV SVM mean accuracy =  0.7725

In [9]:
# Decision Tree

deTree = tree.DecisionTreeClassifier()
deTree.fit(X, Y)

# Accuracy
deTree_acc = cross_val_score(deTree, X, Y, cv = kf)
print("CV Decision Tree mean accuracy = ", deTree_acc.mean())

CV Decision Tree mean accuracy =  0.8525

In [10]:
# Random Forest

ranForest = RandomForestClassifier(max_depth=2, random_state=0)
ranForest.fit(X, Y)

# Accuracy
ranForest_acc = cross_val_score(ranForest, X, Y, cv = kf)
print("CV Random Forest mean accuracy = ", ranForest_acc.mean())

CV Random Forest mean accuracy =  0.9125