In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

import xgboost
from xgboost import XGBClassifier
from sklearn.impute import SimpleImputer

In [4]:
data =  pd.read_csv('Data.csv')
data

     Sample code number  Clump Thickness  ...  Mitoses  Class
0               1000025                5  ...        1      2
1               1002945                5  ...        1      2
2               1015425                3  ...        1      2
3               1016277                6  ...        1      2
4               1017023                4  ...        1      2
..                  ...              ...  ...      ...    ...
678              776715                3  ...        1      2
679              841769                2  ...        1      2
680              888820                5  ...        2      4
681              897471                4  ...        1      4
682              897471                4  ...        1      4

[683 rows x 11 columns]

In [5]:
data_loan =  pd.read_csv('loan_data.csv')
data_loan

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [6]:
X = data.iloc[:, 0:10]
y = data.iloc[:, 10]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

##Bài 1

In [8]:
model = GradientBoostingClassifier()

In [9]:
model.fit(X_train, y_train)

GradientBoostingClassifier()

In [10]:
kf = KFold(n_splits = 5, random_state= None)

In [38]:
acc_gbm = cross_val_score(model, X_train, y_train, cv = kf)
print("accuracy = ", acc_gbm.mean())

accuracy =  0.9652543786488741

##Bài 2

In [12]:
model_xg = XGBClassifier()
model_xg.fit(X_train, y_train)

XGBClassifier()

In [37]:
acc_xgb = cross_val_score(model_xg, X_train, y_train, cv = kf)
print("accuracy = ", acc_xgb.mean())

accuracy =  0.9652376980817348

##Bài 3

In [14]:
data_loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data_loan = pd.DataFrame(imp.fit_transform(data_loan),columns=data_loan.columns,index=data_loan.index)

In [16]:
data_loan = data_loan.astype({'ApplicantIncome': np.int64, 'CoapplicantIncome':float,
                'LoanAmount':float,'Loan_Amount_Term':float, 'Credit_History':float})

In [17]:
from sklearn.preprocessing import LabelEncoder
def encoding_schema(df, cat, label):
    
    '''Function to generate the encoding scheme for categorical data and 
        write back labels to the DataFrame
    '''
    gle = LabelEncoder()
    cat_labels = gle.fit_transform(df[cat])
    cat_mappings = {index: label for index, label in enumerate(gle.classes_)}
    
    df[label] = cat_labels.astype('int64')
    
    return ('Labels for {} are {}'.format(cat, cat_mappings))

In [18]:
encoding_schema(data_loan, 'Gender', 'Gender')
encoding_schema(data_loan, 'Married', 'Married')
encoding_schema(data_loan, 'Dependents', 'Dependents')
encoding_schema(data_loan, 'Education', 'Education')
encoding_schema(data_loan, 'Self_Employed', 'Self_Employed')
encoding_schema(data_loan, 'Property_Area', 'Property_Area')
encoding_schema(data_loan, 'Loan_Status', 'Loan_Status')

"Labels for Loan_Status are {0: 'N', 1: 'Y'}"

In [19]:
data_loan

      Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0    LP001002       1        0  ...             1.0              2            1
1    LP001003       1        1  ...             1.0              0            0
2    LP001005       1        1  ...             1.0              2            1
3    LP001006       1        1  ...             1.0              2            1
4    LP001008       1        0  ...             1.0              2            1
..        ...     ...      ...  ...             ...            ...          ...
609  LP002978       0        0  ...             1.0              0            1
610  LP002979       1        1  ...             1.0              0            1
611  LP002983       1        1  ...             1.0              2            1
612  LP002984       1        1  ...             1.0              2            1
613  LP002990       0        0  ...             0.0              1            0

[614 rows x 13 columns]

In [21]:
X2 = data_loan.iloc[:,1:12]  
y2 = data_loan.iloc[:,12]

In [22]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=0)

In [23]:
model = GradientBoostingClassifier()

In [24]:
model.fit(X2_train, y2_train)

GradientBoostingClassifier()

In [25]:
kf = KFold(n_splits = 5, random_state= None)

In [36]:
acc_gbm = cross_val_score(model, X2_train, y2_train, cv = kf)
print("accuracy = ", acc_gbm.mean())

accuracy =  0.7841269841269842

In [27]:
model_xg = XGBClassifier()
model_xg.fit(X_train, y_train)

XGBClassifier()

In [35]:
acc_xgb = cross_val_score(model_xg, X2_train, y2_train, cv = kf)
print("accuracy = ", acc_xgb.mean())

accuracy =  0.7759018759018759